<%= render "shared/score_header", :locals => {:team1 => @team1, :team2 => @team2} %>
<br>
<table>
    <tr>
        <th>What's this?</th>
        <th> E英 >> J和 </th>
        <th> J和 >> E英 </th>
        <th>Answers</th>
        <th>Questions</th>
    </tr>
    <% @questions.each do |q|%>
        <tr>
            <% q.each do |x| %>
                <% if x.answered %>
                    <td class="no-highlight"></td>
                <% else %>
                    <td><div class="center-cell"><%= link_to x.points, question_path(x.id) %></div></td>
                <% end %>
            <% end %>
        </tr>
    <% end %>
</table>
<%= form_for(@game, :url => game_path(@game.id), :html => { :method => 'GET' }) do |f| %>
    <%= f.hidden_field :answered, :value => true %>
    <%= f.submit "Answer All" %>
<% end %>
<%= form_for(@game, :url => game_path(@game.id), :html => { :method => 'GET' }) do |f| %>
    <%= f.hidden_field :round_two, :value => true %>
    <%= f.submit "Round 2" %>
<% end %>